.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-darker);

}

.header-content {
    width: 65rem;
    display: flex;
    justify-content: flex-end;
}

.header-title {
    font-size: 1.3rem;
    margin-right: auto;
}

.header-title {
    color: var(--dark-primary);
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-links a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--dark-primary);
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}

