@import url("input.css");
@import url("button.css");
@import url("color.css");
@import url("header.css");
@import url("text.css");
@import url("box.css");

* {
    font-family: "Open Sans", serif;;
}

main {
    display: flex;
    justify-content: center;
    background-color: var(--backgroud-color);
}

.main-content {
    width: 65rem;
    margin-top: 2rem;
}

.h-line {
    border-bottom: solid 0.1rem var(--text-color-primary);
}

.spacer-1 {
    margin-top: 1rem;
}

.spacer-2 {
    margin-top: 2rem;
}


.spacer-3 {
    margin-top: 4rem;
}

